*.a
*.o
*.la
*.lo
*.in
*.so
*~

.*.sw*
.libs/
.deps/
.settings/

.project
.cproject


/aclocal.m4
/autom4te.cache
/build/aux/
/configure
/tags

Makefile
Makefile.in
aclocal.m4
autom4te*.cache
compile
config.*
configure
depcomp
distcache-*
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h*

build/libtool.m4
build/ltoptions.m4
build/ltsugar.m4
build/ltversion.m4
build/lt~obsolete.m4

BUILDS
DEBUG
RELEASE

sessclient/dc_client
sessserver/dc_server
snoop/dc_snoop
ssl/swamp/sslswamp
stamp-h1
test/dc_test
test/nal_echo
test/nal_hose
test/nal_ping
test/nal_pong
test/nal_proxy
test/nal_test
util/piper

doc/*.?
ssl/swamp/sslswamp.1

